<!DOCTYPE html>
<html lang="{{ config('app.locale') }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <title>{{ template.meta_title }}</title>
    <meta name="description" content="{{ template.meta_description }}">

    {{ asset_add('vendor.css', 'theme::css/baguette.css') }}
    {{ asset_style('vendor.css') }}

    {{ asset_add('app.css', 'theme::scss/app.scss') }}
    {{ asset_style('app.css', ['min', 'live']) }}
</head>
<body>
    <div class="app">
        {% include 'theme::partials.header' %}

        {% block body %}{% endblock %}

        <aside>
            <div class="container"></div>
        </aside>
    </div>

    {{ asset_add('vendor.js', 'theme::js/prism.js') }}
    {{ asset_add('vendor.js', 'theme::js/baguetteBox.min.js') }}
    {{ asset_script('vendor.js') }}

    {{ asset_add('app.js', 'theme::js/app.js') }}
    {{ asset_script('app.js', ['min', 'live']) }}
</body>
</html>